## Ejercicio Práctico con Pandas - Peliculas
### Objetivo: Explorar y analizar el conjunto de datos de películas.

#### Parte 1 Exploración Básica del DataFrame
1.  Cargar el archivo CSV en un DataFrame de Pandas.
#### Explorar el DataFrame
1.  Mostrar las primeras y últimas 5 filas del DataFrame.
2.  Obtener información general del DataFrame, como el número de filas, columnas y tipos de datos.
#### Enriquecer datos
1.  Busca información sobre los protagonistas (si hay dos o más, uno de ellos) y lo que cobraron por la película y su año de nacimiento
#### Calculos y manipulación





1.   Añade las columnas necesarias con los datos del protagonista
2.   Busca relaciones entre género, rentabilidad y edad del protagonista al hacer la película.
3.  Busca relaciones entre la rentabilidad de la película y el coste del protagonista
4.  Busca cualquier otra relación en los datos que te resulte de interés

In [2]:
import pandas as pd
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1033_pgXO86pl9hwlIvGZZtNgmbiYJ7ps')
print(df.to_string(index=False))

 ID                                            Película  Año de Emisión          Género  Duración (minutos)  Calificación IMDB  Recaudación  Presupuesto  Ganancias
  1                                              Avatar            2009 Ciencia ficción                 162                7.8   2923706026    237000000 5543706026
  2                                 Vengadores: Endgame            2019          Acción                 181                8.4   2799439100    356000000 3159439100
  3                                            Avatar 2            2022 Ciencia ficción                 190                8.1   2320250233    250000000 2070250233
  4                                             Titanic            1997           Drama                 195                7.8   2264743180    200000000 2064743180
  5 Star Wars: Episodio VII - El despertar de la Fuerza            2015 Ciencia ficción                 138                7.8   2071521700    245000000 1826521700
  6                            Vengadores: Infinity War            2018          Acción                 149                8.4   2052359754    321000000 1732359754
  7                             Spider-Man: No Way Home            2021          Acción                 148                8.2   1921704167    200000000 1721704167
  8                                      Jurassic World            2015 Ciencia ficción                 124                7.0   1670516444    150000000 1520516444
  9                                         El Rey León            2019       Animación                  89                7.1   1663075439    260000000 1403075439
 10                                      Los Vengadores            2012          Acción                 143                8.0   1520538515    220000000 1300538515
 11                                           Frozen II            2019       Animación                 103                6.8   1453000000    150000000 1303000000
 12                                La Bella y la Bestia            2017         Romance                 129                7.1   1264000000    160000000 1104000000

In [5]:
print(df.head().to_string(index=False))
print("-------------------------------")
print(df.tail().to_string(index=False))
print("-------------------------------")
print(df.info())
print("-------------------------------")
num_filas, num_columnas = df.shape
print(num_filas, " --- ", num_columnas)

 ID                                            Película  Año de Emisión          Género  Duración (minutos)  Calificación IMDB  Recaudación  Presupuesto  Ganancias
  1                                              Avatar            2009 Ciencia ficción                 162                7.8   2923706026    237000000 5543706026
  2                                 Vengadores: Endgame            2019          Acción                 181                8.4   2799439100    356000000 3159439100
  3                                            Avatar 2            2022 Ciencia ficción                 190                8.1   2320250233    250000000 2070250233
  4                                             Titanic            1997           Drama                 195                7.8   2264743180    200000000 2064743180
  5 Star Wars: Episodio VII - El despertar de la Fuerza            2015 Ciencia ficción                 138                7.8   2071521700    245000000 1826521700
-------------------------------
 ID             Película  Año de Emisión          Género  Duración (minutos)  Calificación IMDB  Recaudación  Presupuesto  Ganancias
  8       Jurassic World            2015 Ciencia ficción                 124                7.0   1670516444    150000000 1520516444
  9          El Rey León            2019       Animación                  89                7.1   1663075439    260000000 1403075439
 10       Los Vengadores            2012          Acción                 143                8.0   1520538515    220000000 1300538515
 11            Frozen II            2019       Animación                 103                6.8   1453000000    150000000 1303000000
 12 La Bella y la Bestia            2017         Romance                 129                7.1   1264000000    160000000 1104000000
-------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  12 non-null     int64
 1   Película            12 non-null     object
 2   Año de Emisión      12 non-null     int64
 3   Género              12 non-null     object
 4   Duración (minutos)  12 non-null     int64
 5   Calificación IMDB   12 non-null     float64
 6   Recaudación         12 non-null     int64
 7   Presupuesto         12 non-null     int64
 8   Ganancias           12 non-null     int64
dtypes: float64(1), int64(6), object(2)
memory usage: 992.0+ bytes
None
-------------------------------
12  ---  9

In [8]:
df.columns

Index(['ID', 'Película', 'Año de Emisión', 'Género', 'Duración (minutos)',
       'Calificación IMDB', 'Recaudación', 'Presupuesto', 'Ganancias'],
      dtype='object')

In [12]:
relacion_genero_rentabilidad_edad = df.groupby(['Género']).agg({
    'Ganancias': 'mean'
}).reset_index()
print(relacion_genero_rentabilidad_edad)

            Género     Ganancias
0           Acción  1.978510e+09
1        Animación  1.353038e+09
2  Ciencia ficción  2.740249e+09
3            Drama  2.064743e+09
4          Romance  1.104000e+09

In [14]:
relacion_ganancias_rentabilidad_presupuesto = df.groupby(['Ganancias']).agg({
    'Presupuesto': 'mean'
}).reset_index()
print(relacion_ganancias_rentabilidad_presupuesto)

     Ganancias  Presupuesto
0   1104000000  160000000.0
1   1300538515  220000000.0
2   1303000000  150000000.0
3   1403075439  260000000.0
4   1520516444  150000000.0
5   1721704167  200000000.0
6   1732359754  321000000.0
7   1826521700  245000000.0
8   2064743180  200000000.0
9   2070250233  250000000.0
10  3159439100  356000000.0
11  5543706026  237000000.0